[submodule "Packages/User/Snippets"]
	path = Packages/User/Snippets
	url = git@github.com:jrolfs/sublime-snippets.git
  branch = master
[submodule "Packages/User/Solarized"]
	path = Packages/User/Solarized
	url = git@github.com:jrolfs/Solarized.git
  branch = master
[submodule "Packages/User/Monokai"]
	path = Packages/User/Monokai
	url = git@github.com:jrolfs/sublime-monokai-extended.git
  branch = sublime-linter
[submodule "Packages/Theme - Sodarized"]
	path = Packages/Theme - Sodarized
	url = git@github.com:jrolfs/sodarized.git
  branch = sodarized
