[submodule "Packages/User/Snippets"]
	path = Packages/User/Snippets
	url = git@github.com:jrolfs/sublime-snippets.git
[submodule "Packages/SublimeLinter"]
	path = Packages/SublimeLinter
	url = https://github.com/SublimeLinter/SublimeLinter.git
[submodule "Packages/User/Abacus"]
	path = Packages/User/Abacus
	url = https://github.com/khiltd/Abacus.git
[submodule "Packages/Theme - Soda"]
	path = Packages/Theme - Soda
	url = git@github.com:jrolfs/soda-theme.git
[submodule "Packages/User/Solarized"]
	path = Packages/User/Solarized
	url = git@github.com:jrolfs/Solarized.git
[submodule "Packages/User/Monokai"]
	path = Packages/User/Monokai
	url = git@github.com:jrolfs/sublime-monokai-extended.git
